

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.job {
    padding: 20px;
}

.salary {
    margin: 20px;
}

.button {
    margin: 20px;
    width: 85%;
}

.resetButton {
    padding: 0;
}