
.logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 24px;
}

.menu {
    background: #FFFFFF;
    display: flex;
    gap: 20px
}

.nav {
    text-decoration: none;
    color: #232134
}

.text {
    text-decoration: none;
    color: #5E96FC
}